</head>

<body>
    <nav>
        <div class="site-title">
            <a href="/">
                <h1>Blog Vulmawi</h1>
            </a>
            <p>Vulmawi site</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">Abour</a></li>
            <li><a href="/blogs/create">New Blog</a></li>

        </ul>
    </nav>
    <div class="blogs content">
        <h2>All blogs</h2>
    </div>
    <div class="about-content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut repudiandae illum est tempora praesentium fugiat dolores dolore dignissimos, vitae cum sequi laborum ratione, recusandae repellat!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut repudiandae illum est tempora praesentium fugiat dolores dolore dignissimos, vitae cum sequi laborum ratione, recusandae repellat!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut repudiandae illum est tempora praesentium fugiat dolores dolore dignissimos, vitae cum sequi laborum ratione, recusandae repellat!</p>
    </div>

</body>

</html>